In [1]:
###notebook to see how many species platt and isotonic regression deteriorate performance for

In [3]:
import pandas as pd

In [9]:
base_df1 = pd.read_csv('./calibration_metrics_results/an_full_-1/scores.csv', index_col=0)
base_df2 = pd.read_csv('./calibration_metrics_results/an_full_-1/scores_v2.csv', index_col=0)

In [10]:
base_df = pd.merge(base_df1, base_df2)

In [11]:
base_df

,taxon_id,ece,brier,ace,tace,optimal_thres,fscore50
0,17090,0.001535,0.001420,0.001535,0.101937,0.100643,0.349946
1,18938,0.003254,0.004019,0.003254,0.129661,0.029051,0.264083
2,17556,0.005311,0.005202,0.005311,0.169439,0.042708,0.000000
3,18295,0.010281,0.008879,0.010281,0.274983,0.043778,0.000000
4,14152,0.000579,0.000896,0.000579,0.065041,0.060888,0.372259
...,...,...,...,...,...,...,...
2413,1368519,0.000672,0.001440,0.000672,0.036764,0.163372,0.635853
2414,1367368,0.000405,0.000548,0.000405,0.028929,0.409078,0.719283
2415,1369291,0.000109,0.000436,0.000109,0.021395,0.178557,0.509600
2416,1369292,0.000389,0.000216,0.000389,0.061750,0.538663,0.613352
2417,1369303,0.000390,0.000200,0.000390,0.071704,0.727053,0.137300

In [12]:
platt_df1 = pd.read_csv('./platt_scaling_results/an_full_-1/scores.csv', index_col=0)
platt_df2 = pd.read_csv('./platt_scaling_results/an_full_-1/scores_v2.csv', index_col=0)

In [19]:
platt_df = pd.merge(platt_df1, platt_df2)
platt_df

,taxon_id,ece,tace,tgt_thres,tgt_fscore,optimal_thres,optimal_fscore,fscore50
0,17090,0.000606,0.061043,0.458236,0.663916,0.152611,0.738435,0.636044
1,18938,0.003570,0.124070,0.849269,0.229097,0.036617,0.665070,0.280676
2,17556,0.000685,0.010106,0.388326,0.552542,0.366330,0.562401,0.483566
3,18295,0.001765,0.089768,0.338592,0.846122,0.199053,0.892515,0.762504
4,14152,0.000711,0.064558,0.152693,0.545026,0.056437,0.661729,0.300193
...,...,...,...,...,...,...,...,...
2413,1368519,0.000722,0.036857,0.597101,0.608366,0.145724,0.712809,0.650162
2414,1367368,0.000277,0.044227,0.339555,0.721384,0.274845,0.723585,0.713082
2415,1369291,0.000163,0.018090,0.240133,0.683139,0.230773,0.686463,0.576063
2416,1369292,0.000069,0.055697,0.335640,0.590374,0.185890,0.695946,0.400585
2417,1369303,0.000394,0.059716,0.795201,0.151579,0.809059,0.174216,0.127389

In [20]:
### see what species range maps and tace are deteriorated for
platt_df["tace_gain"] = platt_df["tace"] - base_df['tace']
platt_df["fscore50_gain"] = platt_df["fscore50"] - base_df['fscore50']

In [41]:
platt_df.sort_values(by='tace_gain', ascending=True, inplace=True)
print(len(platt_df[platt_df['tace_gain']<0]))
print(len(platt_df[platt_df['fscore50_gain']<-0.1]))

1534
96

In [36]:
iso_df1 = pd.read_csv('./isotonic_regression_results/an_full_-1/scores.csv', index_col=0)
iso_df2 = pd.read_csv('./isotonic_regression_results/an_full_-1/scores_v2.csv', index_col=0)
iso_df = pd.merge(iso_df1, iso_df2)

In [37]:
### see what species range maps and tace are deteriorated for
iso_df["tace_gain"] = iso_df["tace"] - base_df['tace']
iso_df["fscore50_gain"] = iso_df["fscore50"] - base_df['fscore50']

In [42]:
print(len(iso_df[iso_df['tace_gain']<0]))
print(len(iso_df[iso_df['fscore50_gain']<-0.1]))

1318
108

In [32]:
iso_df['tace'].mean()

0.1056339955975291

In [33]:
platt_df['tace'].mean()

0.07853841509091782

In [34]:
base_df['tace'].mean()

0.1211653691268773