generate upper bound for st dataset

In [50]:
import pandas as pd
import numpy as np
import json
import os
import sys
from sklearn.metrics import f1_score
import h3pandas
import torch
import h3
from sklearn.metrics import precision_recall_curve
from tqdm import tqdm

sys.path.append('../')
import datasets
import models
import utils
import setup

In [51]:
MODEL_PATH = '../pretrained_models/' + "1000_cap_models/final_loss_an_full_input_enc_sin_cos_hard_cap_num_per_class_1000/model.pt"
DEVICE = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
train_params = torch.load(MODEL_PATH, map_location='cpu')
model = models.get_model(train_params['params'])
model.load_state_dict(train_params['state_dict'], strict=True)
model = model.to(DEVICE)
model.eval()

if train_params['params']['input_enc'] in ['env', 'sin_cos_env']:
    raster = datasets.load_env()
else:
    raster = None
enc = utils.CoordEncoder(train_params['params']['input_enc'], raster=raster)

In [52]:
data2 = np.load(os.path.join('../data/eval/snt/', 'snt_res_5.npy'), allow_pickle=True)
data2 = data2.item()

In [53]:
data2.keys()

dict_keys(['loc_indices_per_species', 'labels_per_species', 'taxa', 'obs_locs', 'obs_locs_idx'])

In [54]:
loc_indices_per_species = data2['loc_indices_per_species']

In [55]:
species_ids2 = data2['taxa']
labels_per_species = data2['labels_per_species']

In [56]:
train_params['params']['class_to_taxa']

[7,
 14,
 19,
 25,
 26,
 34,
 39,
 41,
 50,
 53,
 62,
 68,
 77,
 85,
 91,
 95,
 101,
 108,
 115,
 132,
 156,
 162,
 178,
 199,
 243,
 248,
 288,
 290,
 297,
 300,
 323,
 324,
 329,
 357,
 401,
 436,
 443,
 458,
 460,
 473,
 478,
 479,
 482,
 486,
 487,
 488,
 489,
 491,
 519,
 522,
 535,
 542,
 585,
 649,
 728,
 804,
 831,
 840,
 846,
 863,
 867,
 871,
 880,
 882,
 890,
 906,
 913,
 931,
 949,
 974,
 981,
 1026,
 1050,
 1066,
 1070,
 1078,
 1081,
 1094,
 1096,
 1134,
 1138,
 1158,
 1204,
 1224,
 1230,
 1241,
 1264,
 1280,
 1300,
 1321,
 1339,
 1360,
 1392,
 1399,
 1406,
 1409,
 1415,
 1419,
 1425,
 1428,
 1439,
 1449,
 1459,
 1468,
 1478,
 1485,
 1486,
 1489,
 1495,
 1501,
 1507,
 1514,
 1525,
 1530,
 1538,
 1550,
 1559,
 1590,
 1593,
 1607,
 1612,
 1616,
 1626,
 1630,
 1644,
 1656,
 1670,
 1677,
 1691,
 1692,
 1705,
 1709,
 1719,
 1723,
 1730,
 1736,
 1738,
 1758,
 1787,
 1788,
 1789,
 1793,
 1827,
 1832,
 1850,
 1856,
 1865,
 1877,
 1903,
 1904,
 1907,
 1917,
 1927,
 1930,
 1940,
 1960,
 1964,
 1965,
 1966,
 1970,
 1971,
 1972,
 1979,
 1982,
 1986,
 1987,
 1989,
 2025,
 2038,
 2040,
 2046,
 2052,
 2060,
 2061,
 2062,
 2067,
 2071,
 2073,
 2076,
 2077,
 2079,
 2081,
 2082,
 2084,
 2086,
 2087,
 2088,
 2089,
 2090,
 2108,
 2109,
 2117,
 2118,
 2121,
 2124,
 2154,
 2161,
 2163,
 2166,
 2168,
 2177,
 2182,
 2185,
 2191,
 2192,
 2203,
 2208,
 2212,
 2220,
 2223,
 2226,
 2229,
 2238,
 2239,
 2240,
 2241,
 2245,
 2248,
 2250,
 2253,
 2264,
 2265,
 2266,
 2269,
 2288,
 2293,
 2328,
 2334,
 2337,
 2341,
 2346,
 2352,
 2353,
 2366,
 2413,
 2417,
 2453,
 2464,
 2481,
 2548,
 2552,
 2556,
 2562,
 2576,
 2599,
 2618,
 2662,
 2669,
 2675,
 2676,
 2679,
 2685,
 2753,
 2850,
 2927,
 2934,
 2935,
 2938,
 2951,
 2959,
 2966,
 2969,
 2988,
 2989,
 2998,
 3012,
 3017,
 3033,
 3036,
 3039,
 3045,
 3048,
 3069,
 3079,
 3080,
 3082,
 3083,
 3084,
 3085,
 3093,
 3095,
 3102,
 3105,
 3108,
 3117,
 3122,
 3211,
 3246,
 3255,
 3280,
 3302,
 3316,
 3320,
 3326,
 3327,
 3328,
 3332,
 3335,
 3336,
 3340,
 3352,
 3358,
 3393,
 3394,
 3405,
 3424,
 3439,
 3451,
 3454,
 3460,
 3465,
 3469,
 3503,
 3544,
 3545,
 3564,
 3567,
 3570,
 3576,
 3577,
 3580,
 3603,
 3607,
 3609,
 3610,
 3616,
 3623,
 3652,
 3658,
 3677,
 3681,
 3689,
 3695,
 3704,
 3722,
 3729,
 3730,
 3731,
 3733,
 3734,
 3736,
 3738,
 3739,
 3740,
 3741,
 3743,
 3750,
 3751,
 3753,
 3754,
 3756,
 3758,
 3759,
 3763,
 3766,
 3768,
 3770,
 3779,
 3780,
 3786,
 3788,
 3793,
 3796,
 3797,
 3801,
 3802,
 3803,
 3808,
 3810,
 3812,
 3813,
 3814,
 3815,
 3817,
 3820,
 3821,
 3823,
 3825,
 3827,
 3831,
 3834,
 3837,
 3838,
 3839,
 3844,
 3845,
 3848,
 3849,
 3850,
 3851,
 3852,
 3854,
 3855,
 3856,
 3857,
 3862,
 3863,
 3864,
 3865,
 3866,
 3868,
 3869,
 3873,
 3875,
 3878,
 3879,
 3881,
 3882,
 3885,
 3888,
 3891,
 3892,
 3893,
 3896,
 3898,
 3901,
 3906,
 3909,
 3911,
 3914,
 3919,
 3920,
 3921,
 3924,
 3927,
 3931,
 3936,
 3938,
 3941,
 3947,
 3950,
 3951,
 3954,
 3959,
 3962,
 3969,
 3978,
 3999,
 4027,
 4029,
 4033,
 4087,
 4088,
 4090,
 4091,
 4093,
 4102,
 4105,
 4109,
 4127,
 4130,
 4136,
 4138,
 4141,
 4143,
 4144,
 4146,
 4149,
 4158,
 4168,
 4170,
 4180,
 4184,
 4189,
 4191,
 4195,
 4197,
 4198,
 4205,
 4208,
 4209,
 4224,
 4227,
 4229,
 4231,
 4232,
 4234,
 4235,
 4237,
 4239,
 4243,
 4246,
 4250,
 4251,
 4257,
 4258,
 4259,
 4264,
 4265,
 4270,
 4272,
 4273,
 4277,
 4283,
 4287,
 4292,
 4293,
 4304,
 4308,
 4309,
 4311,
 4314,
 4317,
 4320,
 4325,
 4326,
 4327,
 4328,
 4333,
 4334,
 4335,
 4336,
 4338,
 4345,
 4349,
 4353,
 4354,
 4356,
 4361,
 4364,
 4366,
 4368,
 4370,
 4371,
 4381,
 4385,
 4388,
 4389,
 4390,
 4399,
 4411,
 4414,
 4415,
 4418,
 4425,
 4428,
 4436,
 4449,
 4450,
 4453,
 4454,
 4457,
 4470,
 4478,
 4481,
 4489,
 4491,
 4494,
 4496,
 4499,
 4501,
 4504,
 4508,
 4509,
 4512,
 4514,
 4516,
 4519,
 4524,
 4531,
 4535,
 4537,
 4538,
 4543,
 4547,
 4551,
 4553,
 4555,
 4557,
 4561,
 4564,
 4566,
 4569,
 4571,
 4576,
 4578,
 4580,
 4582,
 4585,
 4589,
 4593,
 4595,
 4599,
 4601,
 4602,
 4603,
 4604,
 4605,
 4609,
 4613,
 4614,
 4616,
 4618,
 4621,
 4622,
 4623,
 4626,
 4627,
 4631,
 4634,
 4636,
 4641,
 4643,
 4644,
 4645,
 4647,
 4657,
 4658,
 4661,
 4663,
 4664,
 4665,
 4670,
 4671,
 4672,
 4680,
 4681,
 4682,
 4684,
 4686,
 4688,
 4689,
 4690,
 4691,
 4698,
 4699,
 4702,
 4703,
 4704,
 4705,
 4710,
 4711,
 4715,
 4717,
 4719,
 4721,
 4724,
 4726,
 4727,
 4729,
 4732,
 4733,
 4736,
 4737,
 4738,
 4739,
 4740,
 4742,
 4743,
 4744,
 4745,
 4747,
 4749,
 4751,
 4753,
 4754,
 4756,
 4760,
 4761,
 4763,
 4765,
 4773,
 4775,
 4776,
 4778,
 4785,
 4789,
 4793,
 4795,
 4798,
 4801,
 4803,
 4804,
 4805,
 4806,
 4807,
 4809,
 4811,
 4812,
 4816,
 4817,
 4818,
 4819,
 4822,
 4825,
 4826,
 4828,
 4832,
 4833,
 4835,
 4836,
 4838,
 4839,
 4840,
 4843,
 4846,
 4847,
 4848,
 4850,
 4851,
 4852,
 4854,
 4855,
 4856,
 4857,
 4858,
 4860,
 4861,
 4862,
 4864,
 4866,
 4867,
 4868,
 4870,
 4871,
 4872,
 4873,
 4874,
 4875,
 4876,
 4877,
 4880,
 4882,
 4883,
 4884,
 4885,
 4889,
 4892,
 4893,
 4896,
 4900,
 4902,
 4908,
 4912,
 4914,
 4916,
 4919,
 4922,
 4923,
 4924,
 4925,
 4926,
 4927,
 4928,
 4934,
 4935,
 4936,
 4937,
 4938,
 4940,
 4943,
 4947,
 4948,
 4949,
 4951,
 4952,
 4953,
 4954,
 4956,
 4966,
 4969,
 4972,
 4981,
 4988,
 4990,
 4991,
 4992,
 4993,
 4994,
 4995,
 4999,
 5003,
 5004,
 5007,
 5008,
 5009,
 5013,
 5017,
 5020,
 5031,
 5032,
 5033,
 5034,
 5036,
 5040,
 5043,
 5048,
 5049,
 5050,
 5052,
 5054,
 5056,
 5058,
 5061,
 5062,
 5063,
 5066,
 5071,
 5074,
 5077,
 5079,
 5080,
 5081,
 5083,
 5088,
 5091,
 5097,
 5106,
 5108,
 5112,
 5114,
 5126,
 5127,
 5137,
 5138,
 5140,
 5143,
 5145,
 5147,
 5150,
 5154,
 5158,
 5165,
 5166,
 5167,
 5168,
 5169,
 5173,
 5174,
 5175,
 5177,
 5178,
 5180,
 5181,
 5185,
 5186,
 5190,
 5191,
 5192,
 5196,
 5198,
 5200,
 5206,
 5212,
 5222,
 5223,
 5225,
 5227,
 5231,
 5233,
 5235,
 5238,
 5240,
 5241,
 5242,
 5244,
 5246,
 5247,
 5260,
 5261,
 5262,
 5264,
 5267,
 5268,
 5275,
 5276,
 5277,
 5280,
 5281,
 5283,
 5286,
 5288,
 5291,
 5294,
 5301,
 5304,
 5305,
 5308,
 5309,
 5312,
 5315,
 5321,
 5323,
 5325,
 5329,
 5335,
 5338,
 5339,
 5340,
 5342,
 5344,
 5346,
 5349,
 5355,
 5361,
 5363,
 5365,
 5366,
 5367,
 5368,
 5369,
 5375,
 5376,
 5377,
 5379,
 5382,
 5392,
 5401,
 5406,
 5407,
 5411,
 5415,
 5416,
 5418,
 5420,
 5422,
 5426,
 5430,
 5437,
 5478,
 5479,
 5483,
 5532,
 5536,
 5538,
 5539,
 5540,
 5551,
 5554,
 5555,
 5558,
 5572,
 5589,
 5609,
 5612,
 5622,
 5628,
 5633,
 5655,
 5661,
 5662,
 5672,
 5676,
 5758,
 5764,
 5795,
 5798,
 5807,
 5810,
 5815,
 5821,
 5827,
 5831,
 5834,
 5840,
 5853,
 5858,
 5868,
 5869,
 5873,
 5877,
 5887,
 5914,
 5919,
 5920,
 5921,
 5929,
 5947,
 5948,
 5979,
 5987,
 6011,
 6017,
 6023,
 6032,
 6056,
 6065,
 6072,
 6076,
 6083,
 6085,
 6088,
 6095,
 6108,
 6134,
 6141,
 6150,
 6166,
 6181,
 6189,
 6192,
 6199,
 6210,
 6214,
 6228,
 6236,
 6237,
 6238,
 6252,
 6255,
 ...]

In [57]:
obs_locs = np.array(data2['obs_locs'], dtype=np.float32)
obs_locs = torch.from_numpy(obs_locs).to('cpu')
loc_feat = enc.encode(obs_locs)

# get classes to eval
classes_of_interest = torch.zeros(len(species_ids2), dtype=torch.int64)
for tt_id, tt in enumerate(species_ids2):
    class_of_interest = np.array([train_params['params']['class_to_taxa'].index(tt)])
    if len(class_of_interest) != 0:
        classes_of_interest[tt_id] = torch.from_numpy(class_of_interest)

In [58]:
with torch.no_grad():
    loc_emb = model(loc_feat, return_feats=True)
    wt = model.class_emb.weight[classes_of_interest, :]

In [59]:
def f1_at_thresh(y_true, y_pred, thresh, type = 'binary'):
    y_thresh = y_pred > thresh
    return f1_score(y_true, y_thresh, average=type)

In [60]:
threshs1 = pd.read_csv("../snt_core_results/rdm_background_results/an_full_1000/"+f"/thresholds.csv")
threshs2 = pd.read_csv("../snt_core_results/masking_results/an_full_1000/"+f"/thresholds.csv")
threshs3 = pd.read_csv("../snt_core_results/tgt_background_results/an_full_1000/"+f"/thresholds.csv")

In [61]:
threshs1

     Unnamed: 0  taxon_id     thres          area  pseudo_fscore
0             0         7  0.174615  1.370584e+07       0.809074
1             1       162  0.041433  2.169532e+07       0.798486
2             2       243  0.032748  1.443876e+07       0.820774
3             3       473  0.056576  1.384570e+07       0.813376
4             4       519  0.165063  1.002357e+07       0.789298
..          ...       ...       ...           ...            ...
530         530    979756  0.032159  1.747132e+07       0.830421
531         531    979757  0.101276  1.132299e+07       0.802454
532         532   1286843  0.021704  7.985930e+06       0.886598
533         533   1289467  0.099973  3.218448e+06       0.922118
534         534   1289472  0.174196  5.332215e+06       0.950331

[535 rows x 5 columns]

In [62]:
threshs2

     Unnamed: 0  taxon_id     thres
0             0         7  0.075577
1             1       162  0.056274
2             2       243  0.057868
3             3       473  0.064698
4             4       519  0.029784
..          ...       ...       ...
530         530    979756  0.038190
531         531    979757  0.048353
532         532   1286843  0.046857
533         533   1289467  0.120552
534         534   1289472  0.251319

[535 rows x 3 columns]

In [63]:
threshs3

     Unnamed: 0  taxon_id     thres          area  pseudo_fscore
0             0         7  0.092541  1.889643e+07       0.924000
1             1       162  0.010249  2.899613e+07       0.968539
2             2       243  0.007171  2.124565e+07       0.970484
3             3       473  0.029878  1.777582e+07       0.957160
4             4       519  0.043879  2.241053e+07       0.955326
..          ...       ...       ...           ...            ...
530         530    979756  0.017539  2.005423e+07       0.952819
531         531    979757  0.024039  2.039059e+07       0.970190
532         532   1286843  0.037028  7.005170e+06       0.951977
533         533   1289467  0.050488  3.834521e+06       0.961538
534         534   1289472  0.174196  5.332215e+06       0.945634

[535 rows x 5 columns]

In [67]:
per_species_f1 = np.zeros(len(classes_of_interest))
for tt_id, tt in tqdm(enumerate(classes_of_interest), total=len(classes_of_interest)):

    wt_1 = wt[tt_id,:]
    preds = torch.sigmoid(torch.matmul(loc_emb, wt_1)).cpu().numpy()

    # generate ground truth labels for current taxa
    cur_loc_indices = np.array(loc_indices_per_species[tt_id])
    cur_labels = np.array(labels_per_species[tt_id])

    pred = preds[cur_loc_indices]

    thresh = threshs1['thres'][tt_id]
    per_species_f1[tt_id] = f1_at_thresh(cur_labels, pred, thresh, type='binary')

100%|██████████| 535/535 [00:30<00:00, 17.60it/s]

In [68]:
per_species_f1.mean()

0.6678959835445306

In [ ]:
per_species_f1.mean()

0.7019053670673474